{% extends 'base_layout.html' %}
{% block content %}

<div class="savedValues_home">
  <h1> Values Stored in Database </h1>

  <div class="savedValues">
    {% for Nums in objects %}
        <p id="savedValues_paragraph">Num1: {{ Nums.num1 }} <br></p>
        <p id="savedValues_paragraph">Num2: {{ Nums.num2 }} <br> <br></p>
        <p id="savedValues_paragraph">Addition: {{ Nums.addition }} <br></p>
        <p id="savedValues_paragraph">Subtraction: {{ Nums.subtraction }} <br> <br></p>
        <p id="savedValues_paragraph">Multiplication: {{ Nums.multiplication }} <br></p>
        <p id="savedValues_paragraph">Division: {{ Nums.division }} <br> <br></p>
    {% endfor %}
  </div>
</div>
{% endblock %}
