{% extends 'base_layout.html' %}
{% block content %}

<div class="container">
  <h1>Implement The Algorithm</h1>

  {% csrf_token %}

    <form id="implementationid" method="POST">
      {% csrf_token %}

      {{ form.as_p }}
      <button type="submit" action="implementation/implementation_home.html">Submit</button>
    </form> <br>

    <h2>Addition: {{ addition }}</h2>
    <h2>Subtraction: {{ subtraction }}</h2>
    <h2>Multiplication: {{ multiplication }}</h2>
    <h2>Division: {{ division }}</h2>
</div>

{% endblock %}
