{% extends 'base_layout.html' %}
{% block content %}

  <h1>About This Site</h1>

  <p>This is a site about my dissertation "Web site develompent with Django framework for data mining services". <br><br> The aim of this dissertation is to run machine learning models from a web service that is developed in
Django framework  <br> as well as the training of a data mining model using data that will be uploaded by the user who will be able to see the results both in graphs and tables. </p>

  <p id="info">Konstantinos Tzouvaras, AEM: 3917 <br> Dissertation Project, Supervising Professor: Dr. Alkiviadis Tsimpiris
  <br> International Hellenic University, Academic Year: 2021-2022</p>

{% endblock %}
